---
title: Groundbreaking Labs
layout: skeleton
---
<div class="container">

	<div class="container">
		<div id="fittext1" class="remove-bottom masked logo" style="margin-top: 40px">Groundbreaking</div>

	</div>

	<hr />

	<div class="container punch add-bottom">
		<h1> We make good design work for you.</h1>
		<h4 class="subheader">We thrive for perfection in details. Making everything as simple as just asking for it</h4>

	</div>

	<hr />

	<br class="clear" />



	<div class="container">
		
		<div class="two-thirds column">
			<h3>How can we help you?</h3>
			<p>Good Design is no longer for the elite. With the widespread internet usage, how you present your business in the browser impacts how your customers perceive your brand.</p>
			
		</div>

		<div class="one-third column">
			<h3>In the Studio</h3>
			<p>We work with developers and designers worldwide to achieve perfect balance of cost and quality. Since there are no permanent employees, there are fewer overheads. Which is passed along to our clients in form of unbeatable value for money.</p>
		</div>
		

	</div><!-- container -->
	
	<br class="clear" />
	
	<div class="container">
		<div class="punch clearfix" id="about">

			<h2>Simplicity Kicks Ass</h2>

			<p class="subheader">With a focus on web standards, open source tools and captivating user experiences; we make sure when you go out there, you look like a star.</p>

			<div class="row clearfix">
				<div class="one-third column alpha">

				<h3>Web</h3>
					<a href="http://www.eleventhedition.com/about"><img src="http://www.eleventhedition.com/images/nav/web_circle.png" alt="Websites" width="300" height="200"></a>

					<p> We build hand-coded, responsive websites, focusing on usability and captivating user experiences. We use web standard compliant and cross-browser compatible coding, using web standards and open source tools.</p>
					<p><small>ECommerce \ FrontEnd \ Responsive</small></p>
		</div>

				<div class="one-third column">

			<h3>Mobile</h3>
				<a href="http://www.eleventhedition.com/about"><img src="http://www.eleventhedition.com/images/nav/branding_circle.png" alt="Branding" width="300" height="200"></a>

			<p>Make it easy for your mobile customers to find information. Responsive web design allows your website to adjust to different layouts for a variety of different devices such as iPhones, iPads and Android devices.</p>
		</div>

				<div class="one-third column omega">

			<h3>Print</h3>
				<a href="http://www.eleventhedition.com/about"><img src="http://www.eleventhedition.com/images/nav/print_circle.png" alt="Print" width="300" height="200"></a>

			<p>Hand-coded, responsive and <br>quick-loading themes for a variety of open source Content Management Systems and eCommerce platforms such as Wordpress, Fork, Drupal and Magento.</p>
		</div>

			</div>
			
		</div>

	</div>
	
		<a class="popup-with-zoom-anim button punch" href="#small-dialog">Request Portfolio</a>
		
	<div id="small-dialog" class="zoom-anim-dialog mfp-hide">
		<h3>Request Portfolio</h3>
		<form>
			<label class="lead">Email</label>
			<input type="email" title="Email" value="Email" subject="email sub">
			<label>Name</label>
			<input type="password">
		</form>
			
	</div>
	
</div>

<div class="container footer">
	<hr/>

	<p class="small"> We salute the progressive web</p>

</div>