---
title: Groundbreaking Labs
---

<!-- Add your site or application content here -->
<p>Hello world! This is HTML5 Boilerplate.</p>

<ul>
  <% 5.times do |num| %>
    <li>Count <%= num %>
  <% end %>
</ul>

<div id="header-container">
		<header class="wrapper clearfix">
			<div id="title-container">
				<h1 id="title">Initializr</h1>
				<h2>Start an HTML5 project in 15 seconds!</h2>
			</div>
			<div id="html5-logo-container">
				<img src="front/img/html5-logo-165-cut.png" alt="" />
			</div>
		</header>
	</div>




<div id="about-container">
		<div class="wrapper">
		<h1>Groundbreaking Labs</h1>

			<article id="docs">
				<h3>About Initializr</h3>
				<p>Initializr is here to kick-start the development of your new projects. It generates templates based on HTML5 Boilerplate
				by allowing you to choose which parts you want or don't want from it. A responsive template has also been added to start from a basic design instead of a blank page.

				</p>
				<h3>International guides</h3>
				<p>Initializr functioning is pretty intuitive but it can help to read guides about it in your own language. Here are some which will help you using Initializr and understanding HTML5 Boilerplate, HTML5shiv or Modernizr, </p>

				<h3>Contact</h3>
				<p>Email me at <span id="email"></span>, or mention <a target="_blank" href="http://twitter.com/#!/initializr">@initializr</a> and <a target="_blank" href="http://twitter.com/#!/verekia">@verekia</a>.</p>
			
			</article>

		</div>
	</div>