---
title: Groundbreaking Labs
layout: skeleton
---
<div class="container">

	<div class="container">
		<div id="fittext1" class="remove-bottom masked logo" style="margin-top: 40px">Groundbreaking</div>

	</div>

	<hr />

	<div class="container punch add-bottom">
		<h1>Innovation for forward thinking Businesses</h1>
		<h4 class="subheader">STRATEGY | PRODUCT | DESIGN | IDENTITY</h4>

	</div>

	<hr />

	<br class="clear" />



	<div class="container">
		
		<div class="two-thirds column">
			<h3>How we help you?</h3>
			<p>We help people Reimagine their Business through design. How you showcase yourself inside and outside the browser, impacts how your customers perceive your brand value. Dissolving art and finesse into your current process, equipping it for larger, more global audiences on the web, translates you into a brand. We help make your business timeless, future-proof and a reflection of quality. You understand your business, we understand consumer behaviour.</p>
			
		</div>

		<div class="one-third column">
			<h3>In our Lab</h3>
			<p> We sketch strategy, products for businesses on and off the browser. Working with developers and designers worldwide from Berlin, Paris, Stockholm to London, California and New York. A Brand and Identity design accentuates your repertoire, amplifying your customer base and readying you for a newer, bigger market place on the internet.</p>
		</div>
		

	</div><!-- container -->
	
	<br class="clear" />
	
	<div class="container">
		<div class="punch clearfix" id="about">

			<h2>Simplicity Kicks Ass</h2>

			<p class="subheader">With a focus on web standards, open source tools and captivating user experiences; we make sure when you go out there, you look like a star.</p>

			<div class="row clearfix">
				<div class="one-third column alpha">

				<h3>Web</h3>
					<a href="http://www.eleventhedition.com/about"><img src="http://www.eleventhedition.com/images/nav/web_circle.png" alt="Websites" width="300" height="200"></a>

					<p>We build hand-coded, responsive websites, for  focusing on functionality, usability and captivating user experiences. We use web standard compliant and cross-browser/devices compatible coding, using web standards and open source
tools</p>
					<p><small>ECommerce \ FrontEnd \ Responsive</small></p>
		</div>

				<div class="one-third column">

			<h3>Mobile</h3>
				<a href="http://www.eleventhedition.com/about"><img src="http://www.eleventhedition.com/images/nav/branding_circle.png" alt="Branding" width="300" height="200"></a>

			<p>More than 70% of internet today is mobile. Make it easy for your mobile customers to find information. Responsive web design allows your website to adjust to different layouts for a variety of different devices such as iPhones, iPads and Android
devices. We make it easy for your mobile customers to find information</p>
		</div>

				<div class="one-third column omega">

			<h3>Code</h3>
				<a href="http://www.eleventhedition.com/about"><img src="http://www.eleventhedition.com/images/nav/print_circle.png" alt="Print" width="300" height="200"></a>

			<p>Hand-coded, responsive and <br>quick-loading themes for a variety of open source Content Management Systems and eCommerce platforms such as Wordpress, Fork, Drupal and Magento.</p>
		</div>

			</div>
			
		</div>

	</div>

		<a class="popup-with-zoom-anim button punch" href="#small-dialog">Request Portfolio</a>
		
	<div id="small-dialog" class="zoom-anim-dialog mfp-hide">
		<h3>Request Portfolio</h3>
		<form>
			<label class="lead">Email</label>
			<input type="email" title="Email" value="Email" subject="email sub">
			<label>Name</label>
			<input type="password">
		</form>
			
	</div>
	
</div>

<div class="container footer">
	<hr/>

	<p class="small">We salute the progressive web</p>

</div>